.footer {
    padding: 20px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.nav.nav-tabs .account {
    font-size: 13px;
}

.nav.nav-tabs > .active > a {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #08C;
}

.table thead th {
    text-align:center;
}